api:
  security:
    secret: chave-super-secreta
    issuer: proinova-api
spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  datasource:
    url: jdbc:mysql://localhost:3306/proinova?createDatabaseIfNotExist=true
    username: root
    driverClassName: com.mysql.cj.jdbc.Driver
